<body id="sign-up-body">
	<div class="row">
		<div class="col col-lg-4 col-lg-offset-4 
		col-md-4 col-md-offset-4
		col-sm-6 col-sm-offset-3">
			<div class="jumbotron">
				<%= form_for :users, url: users_path do |f| %>
					<h1 class="header-login">Isychat</h1>
			  		<h3 class="header-login">Login</h3>
			  		</br>
			  		<div class="notice-inval"><%= notice %></div>
			  		<div class="input-group">
			  			<span class="input-group-addon"><i class="fa fa-user" id="user-icon"></i></span>
			  			<%= f.text_field :name, :class => "form-control", :placeholder => "Username" %>
					</div>
					</br>
					<div class="input-group">
			  			<span class="input-group-addon"><i class="fa fa-lock"></i></span>
			  			<%= f.text_field :password, :class => "form-control", :type => "password", :placeholder => "Password" %>
					</div>
					</br>
					<div class="input-group">
						<!-- TODO onChange="checkPasswordMatch();" -->
			  			<span class="input-group-addon"><i class="fa fa-lock"></i></span>
			  			<%= f.text_field :password, :class => "form-control", :type => "password", :placeholder => "Repeat Password" %>
					</div>
					</br>
					<div class="notice-inval"><%= alert %></div>
					<div class="input-group">
			  			<span class="input-group-addon"><i class="fa fa-envelope" id="mail-icon"></i></span>
			  			<%= f.text_field :email, :class => "form-control", :placeholder => "E-Mail" %>
					</div>
					</br>
					</br>
					
					<div class="row">
						<div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<a href="/welcome/index"><div class="btn btn-primary">back</div></a>
						</div>
						<div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
	    					<%= f.submit "Sign Up", :class => 'btn btn-primary pull-right' %>
	    				</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</body>
